@import "./assets/css/colors.scss";
@import "./assets/css/font.scss";

@mixin image-illustration {
  object-fit: contain;
  width: 22rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $darkBlueMain;
  color: $neutralWhite;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: $darkBlueIntro;
  #logo {
    width: 5rem;
  }

  .nav-wrapper {
    display: flex;
    list-style-type: none;
    @include raleway400;
  }

  .nav-link {
    display: inline;
    cursor: pointer;
    padding: 1rem 1.1rem 0 0;
    &:last-child {
      padding-right: 0;
    }
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $darkBlueIntro url("./assets/images/bg-curvy-mobile.svg")
    no-repeat bottom;
  background-size: auto 60%;
  img {
    @include image-illustration;
  }

  button {
    margin-top: 1.5rem;
    height: 50px !important;
    width: 70vw;
    background-image: linear-gradient(to right, $accentCyan, $accentBlue);
    @include raleway700;
  }
}

.intro-text {
  h1 {
    color: $neutralWhite;
    @include raleway700;
  }
  p {
    @include openSans400;
  }
}

.feature-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.75rem;
  img {
    width: 4rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: 50px;
  }
  h3 {
    color: $neutralWhite;
    margin-top: 1rem;
    @include raleway700;
  }
  p {
    @include openSans400;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  padding: 1.5rem;

  #about-illustration-wrapper {
    text-align: center;
  }
  #about-illustration {
    @include image-illustration;
    padding-bottom: 1.5rem;
  }
  h2 {
    @include raleway700;
    color: $neutralWhite;
  }
  p {
    @include openSans400;
  }
  button {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1890ff;
    padding: 0;
    @include openSans400;
    img {
      width: 1rem;
      padding-bottom: 0;
    }
  }
}

.testimoni-section {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.card {
  background-color: $darkBlueTestimonial;
  width: 100%;
  border-radius: 5px;
  padding: 2em 1.5em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body {
  @include openSans400;
  font-size: 12px;
}

.card-footer {
  display: flex;
  align-items: center;
  .card-footer-avatar {
    margin-right: 0.5em;
  }
  p {
    @include openSans700;
    margin-bottom: -0.5em;
  }
  small {
    @include openSans400;
  }
}

#quote-icon {
  position: absolute;
  top: 15px;
  left: 9vw;
  width: 30px;
}

@media (min-width: 800px) {
  .welcome-wrapper {
    width: 40vw;
  }
  .feature-wrapper {
    width: 65vw;
  }
  .about-wrapper {
    width: 65vw;
    display: flex;
    align-items: center;
  }
  .welcome-section {
    background-size: 100% 60%;
    padding-bottom: 4rem;
    button {
      width: 20vw;
    }
  }

  .feature-section {
    p {
      padding: {
        left: 0.8rem;
        right: 0.8rem;
      }
    }
  }

  .about-section {
    #about-illustration {
      width: 27rem;
    }
    h2 {
      width: 50%;
      font-size: 2em;
    }
  }
  #about-text-wrapper {
    padding-left: 5em;
  }

  #quote-icon {
    position: absolute;
    left: 17.5vw;
  }
}
